# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
*.tsbuildinfo
.turbo

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tauri
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen

# Capacitor
apps/mobile/ios
apps/mobile/android
